.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}

.carousel {
    height: 500px;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

.parallax{
    background-image: url('https://i.imgur.com/LAAoRlo.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card img {
    width: 32rem;
    height:30rem;
}