<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Bem vindos!!</h1>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h3 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit
                nihil repellat repudiandae, architecto nulla esse quas similique inventore debitis eum nam quos
                perferendis optio sed suscipit cum, consequuntur rem!</h3>
        </div>
    </div>

</div>


<div class="parallax"></div>

<div class="container">

    <div class="row mt-5 mb-5 d-flex justify-content-between">
        <div class="col-md-3">
            <h3 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reprehenderit
                nihil repellat repudiandae, architecto nulla esse quas similique inventore debitis eum nam quos
                perferendis optio sed suscipit cum, consequuntur rem!</h3>
        </div>

        <div class="col-md-3">
            <h3 class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque accusamus non
                sequi, nulla pariatur, odio voluptatem vero facere libero quaerat eos, dolorum laudantium asperiores?
                Quod deserunt iure reprehenderit ut nisi.</h3>
        </div>

        <div class="col-md-3">
            <h3 class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae commodi
                repellendus nemo fugit, earum dolorum voluptatum. Id ad facilis recusandae suscipit quaerat hic sapiente
                expedita ex sed molestiae, repellendus at.</h3>
        </div>

    </div>
</div>