<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 alinhamento">

  <hr class="my-5">
  <h3 class="text-center">Nos sigam em nossas redes sociais</h3>

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a href="#" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
              <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
            </i>

          </a>
          <!-- Twitter -->
          <a href="#" class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">
              <fa-icon [icon]="faTwitter" class="faTwitter fa-3x p-3"></fa-icon>
            </i>

          </a>
          <!--Linkedin -->
          <a href="#" class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">
              <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
            </i>

          </a>
          <!--Instagram-->
          <a href="#" class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
              <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
            </i>

          </a>
          <!--Pinterest-->
          <a href="#" class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x">
              <fa-icon [icon]="faPinterest" class="faPinterest fa-3x p-3"></fa-icon>
            </i>

          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center mb-3">© 2020 Copyright:
    <a href="https://brazil.generation.org/" target="_blank">Generation Brasil</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->