<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome">
                </div>

                <div class="form-group">
                    <label for="email">email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>

                <div class="form-group">
                    <label for="opniao">Dê sua opnião</label>
                    <textarea id="opniao" cols="30" rows="10" class="form-control"></textarea>
                </div>


                <button class="btn btn-dark" type="button">Enviar</button>

            </form>
        </div>
    </div>
</div>